{% extends 'layout.html' %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>About Us</title>
  </head>
  <body>
      <nav class="navbar navbar-light bg-light shadow p-3 mb-5 bg-white rounded">
      <a class="navbar-brand mb-0 h1" href="#">V-CHOICE</a>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active text-dark" href="#">Graph</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Login</a>
        </li>
      </ul>
    </nav>
      
    
    <p class="text-center h4">Team</p>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="/image/junsu.jpeg" style="height: 18rem;" alt="junsu" />
            <div class="card-body">
              <h5 class="card-title">김준수</h5>
              <p class="card-text">팀장</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="/image/Banghyun.jpeg" style="height: 18rem;" alt="Banghyun"/>
            <div class="card-body">
              <h5 class="card-title">김방현</h5>
              <p class="card-text">벡엔드/데이터 분석</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="/image/Sungkyu.jpeg" style="height: 18rem;" alt="Sungkyu" />
            <div class="card-body">
              <h5 class="card-title">김성규</h5>
              <p class="card-text">벡엔드/데이터 분석</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="/image/Chunghyun.jpeg" style="height: 18rem;" alt="Chunghyun" />
            <div class="card-body">
              <h5 class="card-title">최청현</h5>
              <p class="card-text">벡엔드/데이터 분석</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="/image/Dongsung.jpeg" style="height: 18rem;" alt="Dongsung"/>
            <div class="card-body">
              <h5 class="card-title">고동성</h5>
              <p class="card-text">벡엔드/데이터 분석</p>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 20rem;">
            <img src="/image/juyeon.jpeg" style="height: 18rem;" alt="juyeon" />
            <div class="card-body">
              <h5 class="card-title">고주연</h5>
              <p class="card-text">프론트엔드</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>



{% endblock %}
