{% extends 'layout.html' %} {% block content %}

<p class="text-center h4">Team V-Choice</p>

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="./static/image/junsu.jpeg" style="height: 18rem;" alt="junsu" />
                <div class="card-body">
                    <h5 class="card-title">김준수</h5>
                    <p class="card-text">팀장</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="./static/image/Banghyun.jpeg" style="height: 18rem;" alt="Banghyun" />
                <div class="card-body">
                    <h5 class="card-title">김방현</h5>
                    <p class="card-text">벡엔드/데이터 분석</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="./static/image/Sungkyu.jpeg" style="height: 18rem;" alt="Sungkyu" />
                <div class="card-body">
                    <h5 class="card-title">김성규</h5>
                    <p class="card-text">벡엔드/데이터 분석</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="./static/image/Chunghyun.jpeg" style="height: 18rem;" alt="Chunghyun" />
                <div class="card-body">
                    <h5 class="card-title">최청현</h5>
                    <p class="card-text">벡엔드/데이터 분석</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="./static/image/Dongsung.jpeg" style="height: 18rem;" alt="Dongsung" />
                <div class="card-body">
                    <h5 class="card-title">고동성</h5>
                    <p class="card-text">벡엔드/데이터 분석</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 20rem;">
                <img src="./static/image/juyeon.jpeg" style="height: 18rem;" alt="juyeon" />
                <div class="card-body">
                    <h5 class="card-title">고주연</h5>
                    <p class="card-text">프론트엔드</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}