{% extends 'layout.html' %}
{% block scripts %}
<script>
    function postContent() {
        let content = $("#my-content").val()
        let author = `{{g.user.user_id}}`

        $.ajax({
            url: '/post',
            type: 'post',
            data: {
                'content': content,
                'author': author
            },
            success: function (res) {
                let result = res['result']
                if (result == "success") {
                    window.location.reload()
                } else {
                    alert("저장오류!")
                }
            }
        })
    }

    function deletePost(id) {
        let author = `{{g.user.user_id}}`
        $.ajax({
            url: '/post',
            type: 'DELETE',
            data: {
                'id': id,
                'author': author
            },
            success: function (res) {
                if (res['result'] == 'success') {
                    alert("삭제 성공!")
                    window.location.reload()
                } else {
                    alert("삭제 실패!")
                }
            }
        })
    }
    function postUpdatePost(id) {
        let content = $(`#userEidContent${id}`).val()
        $.ajax({
            url: '/post',
            type: 'PATCH',
            data: {
                "id": id,
                "content": content
            },
            success: function (res) {
                if (res['result'] == 'success') {
                    alert("수정성공")
                    window.location.reload()
                }
            }
        })
    }
    function updatePost(id) {
        let content = $(`#userContent${id}`).text()
        let tmpHtml = `<textarea id=userEidContent${id} class="form-control" rows="3"></textarea>`
        let tmpBtn = `<button class="btn btn-sm btn-success" onclick="postUpdatePost(${id})">수정완료</button>`
        $("#edit-area").empty()
        $("#edit-area").append(tmpHtml)
        $(`#editBtn${id}`).hide()
        $(`#userEidContent${id}`).val(content)
        $("#edit-area").append(tmpBtn)

    }

    
</script>
{% endblock %}

{% block content %}
<h2 class="title">V-choice 게시판</h2>
<hr>
<div class="card">
    <h5 class="card-header">게시판</h5>
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">{{g.user.user_id}}님, 글을 작성하세요</label>
            <textarea id='my-content' class="form-control" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" onclick="postContent()">작성하기</button>
    </div>
</div>
<hr>

{% for post in post_list %}
<div class="card mt-2">
    <div class="card-body">
        <div class="mb-3">
            <label class="form-label">{{post.author}}&nbsp;&nbsp;&nbsp;&nbsp;</label><a>{{post.created_at}}</a>
            <div id='edit-area'>
                <p id='userContent{{post.id}}'>{{post.content}}</p>
            </div>
            <button id="thumbs-up-button">
                <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.77 11h-4.23l1.52-4.94C16.38 5.03 15.54 4 14.38 4c-.58 0-1.14.24-1.52.65L7 11H3v10h14.43c1.06 0 1.98-.67 2.19-1.61l1.34-6c.27-1.24-.78-2.39-2.19-2.39ZM7 20H4v-8h3v8Zm12.98-6.83-1.34 6c-.1.48-.61.83-1.21.83H8v-8.61l5.6-6.06c.19-.21.48-.33.78-.33.26 0 .5.11.63.3.07.1.15.26.09.47l-1.52 4.94-.4 1.29h5.58c.41 0 .8.17 1.03.46.13.15.26.4.19.71Z" fill="#fff"/></svg>

            </button>
        </div>
    </div>


    <div class="card-footer text-muted">
        <button class="btn btn-sm btn-warning" onclick="deletePost('{{post.id}}')">삭제하기</button>
        <button id='editBtn{{post.id}}' class="btn btn-sm btn-success" onclick="updatePost('{{post.id}}')">수정하기</button>
    </div>
    
</div>
{% endfor %}
{% endblock %}