{% extends 'layout.html' %} {% block content %}

    <div class='container'>
      <div class='row'>
        <div class='col-md-12' style="margin-top: 200px;">
          <img src="/image/main1.png" class="img-fluid" alt="...">
        </div>
      </div>    
    </div>
    <div class="container">
      <div class="row text-center wow fadeInUp">
        <h1><ins>X-mas Who should I spend it with? </ins></h1>
      </div>
    </div>


    <div class="jumbotron" style=" height: 500px; background-color: #ffff;"></div>

    <div class="container-fluid">
      <h1 class="mt-5 ml-5 up-on-scroll">COVID-19</h1>
      <h5 class="text-muted ml-5 up-on-scroll" style="line-height: 2rem;">2020년 1월 시작된 covid-19<br> 팬데믹 상황으로 인한 '사회적 거리두기'로, 비대면 사회가 깊숙이 자리잡아가고 있다. <br>코로나는 과연 우리에게 어떤 영향을 끼쳤을까.</h5>
      <div class="row justify-content-center mt-5 up-on-scroll">
        <img class="rounded" src="/image/corona_graph.png" style="width: 657px; height: 500px; box-shadow: 5px 5px 10px grey;" alt="...">
      </div>
    </div>
    <div class="container-fluid">
      <h6 class= "text-right text-muted mt-5 mr-3 up-on-scroll" style="color: #5f5e5e;"> 
        코로나로 늘어난 '집콕족', 그들이 선택한
      </h6>
      <img class="mr-3 ml-2 up-on-scroll" src="/image/youtube.png" style="width: 70px; height: 55px; float: right;" alt="...">
      <h1 class="text-right up-on-scroll" style="margin-right: 80px;">
        YOUTUBE
      </h1>
      <h5 class="text-right text-muted mr-3 up-on-scroll" style="color: #5f5e5e; line-height: 2rem;">코로나는 사람들의 여가를 보내는 방식에도 변화를 일으켰다. <br> 밖이 아닌 집에서 여가를 보내는 사람들이 증가하면서, <br> 
        실내에서 즐길 수 있는 OTT 서비스 이용이 급증했다.
      </h5>
      <div class="row up-on-scroll">
        <img class="mb-5" src="/image/ottservice.png" style="max-width: 100%; height: auto;" alt="...">
      </div>
      <h5 class="text-muted up-on-scroll my-5" style="text-align: center; line-height: 2rem; color: #5f5e5e;">
        국내 OTT 시장을 장악하고 있는 유튜브<br> 유튜브는 코로나를 얼마나 담고 있을까.
      </h5>
      <div class="up-on-scroll" style="text-align: center;">
        <img class="img-responsive" src="/image/ottUtilization.png" style="width: 500px; height: 400px;" alt="...">
      </div>
    </div>
    <div class="container-fluid text-center">
      <pre class="mt-5 mb-5">
  .
  .
  .
      </pre>
    </div>
    <div class="container mb-5">
      <div class="row">
        <div class="col text-center up-on-scroll">
          <p>당신은 코로나로 인한 유튜브의 변화가 있다고 생각하십니까?</p>
          <form action = "/" method = "POST">
            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">예</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label " for="inlineCheckbox2">아니오</label>
            </div><br>
            <input type = "submit" value = "choice!" /><br>
          </form>
        </div>
      </div>
    </div><div class="container-fluid text-center">
      <pre class="mt-5 mb-5">
  .
  .
  .
      </pre>
    </div>
    <div class="container mb-5">
      <div class="row">
        <div class="col text-center up-on-scroll">
          <p>당신은 코로나로 인한 유튜브의 변화가 있다고 생각하십니까?</p>
          <form action = "/" method = "POST">
            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
              <label class="form-check-label" for="inlineCheckbox1">예</label>
            </div>
            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
              <label class="form-check-label " for="inlineCheckbox2">아니오</label>
            </div><br>
            <input type = "submit" value = "choice!" /><br>
          </form>
        </div>
      </div>
    </div>


<p>상관관계 있다.</p>
<input name='first_choice' type="button" class="btn btn-primary" onclick="location.href='/join'">YES</button>
<input name='first_choice' type="button" class="btn btn-primary" onclick="location.href='/join'">No</button>
</div>
{% endblock %}
