{% extends 'layout.html' %} {% block scripts %}
<script>
    function login() {
        user_id = $("#userId").val()
        user_pw = $("#userPw").val()

        $.ajax({
            url: '/login',
            type: 'post',
            data: {
                'user_id': user_id,
                'user_pw': user_pw
            },
            success: function(res) {
                if (res['result'] == 'success') {
                    swal.fire("로그인 성공!", "", "success")
                        .then(function() {
                            window.location.href = '/'
                        })
                } else {
                    swal.fire("로그인 실패!", "아이디와 비밀번호를 확인해주세요", "question")
                        .then(function() {
                            window.location.reload()
                        })

                }
            }
        })
    }
</script>
{% endblock %} {% block content %}

<div style="width: 500px; margin:auto;">
    <header>
        <h2>Login</h2>
    </header>

    <div class="input-box">
        <input id="userId" type="text" name="username" placeholder="아이디">
        <label for="username">아이디</label>
    </div>

    <div class="input-box">
        <input id="userPw" type="password" name="password" placeholder="비밀번호">
        <label for="password">비밀번호</label>
    </div>

    <div class="text-end">
        <button class="btn btn-outline-primary mt-auto" onclick=login()>로그인</button>
        <a href="/join" class="btn btn-outline-dark mt-auto">회원가입</a>
    </div>
</div>{% endblock %}