{% extends 'layout.html' %}
{% block content %}

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>

<head>
  <!-- Custom styles for this template -->
  <link href="../static/css/dashboard.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">
                <span></span>
                &nbsp;
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/visual">
              <span data-feather="home"></span>
              Home - Visual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vid-cnt">
              <span data-feather="bar-chart-2"></span>
              Video Count
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/comp-mean-views">
              <span data-feather="bar-chart-2"></span>
              Video Views
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ratio-ch-vid">
              <span data-feather="bar-chart-2"></span>
              Category Ratio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/multi-analysis">
              <span data-feather="layers"></span>
              Multi Analysis - 1
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/corona-related-multi-analysis">
              <span data-feather="layers"></span>
              Multi Analysis - 2
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/correlation-bokeh">
              <span data-feather="file"></span>
              Confirmed & Category
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/sentiment-analysis">
              <span data-feather="file"></span>
              Sentiment Analysis
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mt-3 mb-4 border-bottom">
        <p style="font-size: 23px;"><strong>코로나 이전과 이후, 유튜브 제목에서 나타나는 감정 변화를 확인해보세요.</strong></p>          
      </div>
      <div style='text-align:center;'>
        <form action="/sentiment-analysis" method="POST">
        <select name="sentiment_data" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="text-align:center;">
          <option selected> --------보고싶은 선택지를 골라주세요------ </option>
          <option value="1">카테고리에 따른 감정 수치</option>
          <option value="2">누적확진자 수와 Youtube Trending 영상의 감정수치 변화 그래프</option>
          <option value="3">신규확진자 수와 Youtube Trending 영상 감정수치의 상관관계</option>
          <option value="4">누적확진자 수와 Youtube Trending 영상 감정수치의 상관관계</option>
          <option value="5">코로나 전과 후, 제목에서 나타나는 긍정 부정 비율 변화</option>
          <option value="6">코로나 전과 후, 카테고리 별 제목의 감정변화 분석</option>
        </select>
        <button class="btn btn-primary" type="submit">선택</button>
      </form>
      </div>
    </main>
  </div>

  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="../static/js/dashboard.js"></script>
</body>
{% endblock %}
