{% extends 'layout.html' %}
{% block content %}

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>


<head>
  <!-- Custom styles for this template -->
  <link href="../static/css/dashboard.css" rel="stylesheet">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                  <span></span>
                  &nbsp;
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/visual">
                <span data-feather="home"></span>
                Home - Visual
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vid-cnt">
                <span data-feather="bar-chart-2"></span>
                Video Count
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/comp-mean-views">
                <span data-feather="bar-chart-2"></span>
                Vidoe Views
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ratio-ch-vid">
                <span data-feather="bar-chart-2"></span>
                Category Ratio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/multi-analysis">
                <span data-feather="layers"></span>
                Multi Analysis - 1
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/corona-related-multi-analysis">
                <span data-feather="layers"></span>
                Multi Analysis - 2
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/correlation-bokeh">
                <span data-feather="file"></span>
                Confirmed & Category
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sentiment-analysis">
                <span data-feather="layers"></span>
                Sentiment Analysis
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">원하는 데이터를 선택하여 다양하게 비교해보세요 (유튜브 Data : 코로나 관련 Youtube Trending 영상)</h1>          
        </div>
        <div style='text-align:center;'>
          <form action="/corona-related-multi-analysis" method="POST">
            <select name="selection_1_num" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="text-align:center;">
              <option selected> -----코로나 Data 중 비교하고 싶은 값을 선택하세요----- </option>
              <option value="1">일일 국내 확진자</option>
              <option value="2">일일 해외 유입</option>
              <option value="3">일일 사망자</option>
              <option value="4">누적 사망자</option>
              <option value="5">일일 확진자(국내+해외)</option>
              <option value="6">누적 확진자</option>
              <option value="7">확진자 증감 변화량</option>
            </select>
            <select name="selection_2_num" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="text-align:center;">
              <option selected> -----유튜브 Data 중 비교하고 싶은 값을 선택하세요----- </option>
              <option value="1">조회수</option>
              <option value="2">좋아요 수</option>
              <option value="3">싫어요 수</option>
              <option value="4">댓글 수</option>
              <option value="5">좋아요 비율</option>
            </select>
            <button class="btn btn-primary" type="submit">선택</button>
          </form>
        </div>
      </main>
    </div>
  </div>
  <script src="../static/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="../static/js/dashboard.js"></script>
</body>


{% endblock %}